body {
<<<<<<< HEAD
  background: #686b32;
  color: #fff;
}

/* Menu*/
.navbar {
  background: #182128;
  width: 100%;
  border-radius: 0;
  border: none;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
  color: #fff;
  box-shadow: none;
  transition: all .3s ease;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
  color: #b2883f;
}
=======
  background: #182128;
  color: #fff;
}
>>>>>>> b93bafd7608f45f8266db4689080dcc9cef0c1d2
